// Globals
.title {
  font-family: 'Dancing Script';
  text-transform: capitalize;
  text-align: center;
  color: $primary;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.sec-1 {
  height: 100%;
  position: relative;
}

.box-text {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.308);
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-family: 'Alice';
}

.box-text--sub {
  position: absolute;
  top: 85%;
  left: 0%;
  right: 0%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 200;
}

.sec-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // border: 1px solid red !important;
}
.list-recipe {
  text-align: center;
  list-style: none;
  text-transform: capitalize;
  color: $gray600;
  // padding-bottom: 1rem;
  font-size: 1.1rem;
}
.list-recipe--text {
  padding: 0.5rem;
}
.check {
  height: 1rem;
  width: 1rem;
  fill: $secondary;
}
.paragraph-sec2 {
  color: $gray600;
  text-align: center;
  text-transform: capitalize;
}

.timer {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  color: $gray600;
  margin-bottom: 2rem;

  &-item {
    text-align: center;
    max-width: 6.25rem;
    flex-basis: 25%;
    flex: 1;
  }
  &-time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $whiteback;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  &-text {
    color: $gray600;
    font-size: 0.8rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
  }
}

.circle {
  border: 1px solid rgba(250, 250, 250, 0);
  position: relative;
  svg {
    height: auto;
    width: 100%;
  }

  &.color--primary {
    svg {
      fill: $primary;
    }
  }
  &.color--secondary {
    svg {
      fill: $secondary;
    }
  }
  &.color--tertiary {
    svg {
      fill: $tertiary;
    }
  }
  &.color--quaternary {
    svg {
      fill: $quaternary;
    }
  }
}

.sec-3 {
  height: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.08rem;

  &-image {
    height: 6rem;
    width: 6rem;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid $tertiary;
  }
  &-text {
    padding: 1rem 0;
  }
}

.our-history {
  text-align: center;
  height: 60%;
  border: 1px solid red !important;
}

.heart-history {
  height: 1.2rem;
  width: 1.2rem;
  fill: $quaternary;

  margin-bottom: 3rem;
}
.picture-container {
  height: 60vh;
  width: 100vw;
  margin-bottom: 1rem;
}
.sec-5 {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.sec-reception {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 100%;
}
.avg-container {
  width: 5rem;
  height: 4.5rem;
  margin: 0 auto 3rem;
}
.sec-confirm {
  border: 1px solid red !important;
  height: 100vh;
  text-align: center;
}
.container {
  margin: 0 auto 5rem;
  padding: 0 var(--sectionPadding);
  border: 2px solid #f0c !important;

  @include media(xs) {
    --sectionPadding: 2rem;
  }

  @include media(sm) {
    --sectionPadding: 4rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  max-width: rem(500);
  margin: 0 auto;

  .dates-inputs,
  .textarea {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border: 0.1rem solid $whiteback;
    background-color: $whiteback;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
    padding: 1rem 0.5rem;
    resize: none;

    &:disabled {
      cursor: not-allowed !important;
    }
  }

  .textarea {
    height: 8rem;
  }
}

.btn-submit {
  box-shadow: none;
  border: 0.05rem solid $tertiary;
  border-radius: 2rem;
  width: 10rem;
  padding: 0.5rem;
  background-color: $secondary;
  font-size: 1.1rem;
  color: $whiteback;
  margin: 0 auto 3rem;
}

p {
  color: $gray600;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
}
.bottom-title {
  margin-top: 4rem;
}
.bottom-sec {
  margin-bottom: 3rem;
}
.link {
  display: block;
  text-transform: uppercase;
  text-align: center;
}
.avg-container-guests {
  width: 5rem;
  height: 5rem;
  margin: 0 auto 1rem;
}
.number-checklist {
  color: $colorfont;
}
