$padding: 2rem;

// Globals
.title {
  font-family: 'Dancing Script';
  text-transform: capitalize;
  text-align: center;
  color: $primary;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.with-padding {
  padding: 0 $padding;
}

.sec-1 {
  height: 100%;
  position: relative;
}

.box-text {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.308);
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 4rem;
  font-family: 'Alice';
}

.box-text--sub {
  position: absolute;
  top: 85%;
  left: 0%;
  right: 0%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 200;
}

.sec-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.list-recipe {
  text-align: center;
  list-style: none;
  text-transform: capitalize;
  color: $gray600;
  padding-bottom: 1rem;
  font-size: 1.1rem;
}
.list-recipe--text {
  padding: 0.5rem;
}
.check {
  height: 1rem;
  width: 1rem;
  fill: $secondary;
}
.paragraph-sec2 {
  color: $gray600;
  text-align: center;
  text-transform: capitalize;
}

.timer {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  color: $gray600;
  margin-bottom: 2rem;

  &-item {
    text-align: center;
    flex-basis: 25%;
    max-width: 100px;
    flex: 1;
  }
  &-time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $whiteback;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  &-text {
    color: $gray600;
    font-size: 0.8rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
  }
}

.circle {
  border: 1px solid rgba(250, 250, 250, 0);
  position: relative;
  svg {
    height: auto;
    width: 100%;
  }

  &.color--primary {
    svg {
      fill: $primary;
    }
  }
  &.color--secondary {
    svg {
      fill: $secondary;
    }
  }
  &.color--tertiary {
    svg {
      fill: $tertiary;
    }
  }
  &.color--quaternary {
    svg {
      fill: $quaternary;
    }
  }
}

.sec-3 {
  height: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.08rem;

  &-image {
    height: 6rem;
    width: 6rem;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid $tertiary;
  }
  &-text {
    padding: 1rem 0;
  }
}

.sec-4 {
}
