.gallery {
  margin-bottom: 4rem;

  @include media(0, md) {
    &-item {
      height: 60vh;
      width: 100vw;
      margin-bottom: 1rem;
      &-10 {
        display: none;
      }
    }
  }

  @include media(md) {
    background-color: rgb(243, 243, 243);
    grid-column: full-start / full-end;
    display: grid;
    grid-template: repeat(8, 6vw) / repeat(10, 1fr);
    grid-gap: 1rem;
    padding: 1rem;

    &.animate {
      &-item {
        border: 2px solid #f0c !important;
      }
    }

    &-item {
      border-radius: 4px;
      overflow: hidden;

      &-1 {
        animation: FadeIn 1s ease-out;
        grid-row: 1 / span 3;
        grid-column: 1 / span 3;
      }

      &-2 {
        animation: FadeIn 1.2s ease-out;
        grid-row: 4 / -1;
        grid-column: 1 / span 2;
      }

      &-3 {
        animation: FadeIn 1.4s ease-out;
        grid-row: 1 / span 4;
        grid-column: 6 / 8;
      }

      &-4 {
        animation: FadeIn 1.6s ease-out;

        grid-row: 1 / span 5;
        grid-column: 8 / -1;
      }

      &-5 {
        animation: FadeIn 1.8s ease-out;

        grid-row: 6 / span 3;
        grid-column: 3 / span 3;
      }

      &-6 {
        animation: FadeIn 2s ease-out;

        grid-row: 4 / span 2;
        grid-column: 3 / span 2;
      }

      &-7 {
        animation: FadeIn 2.2s ease-out;

        grid-row: 5 / span 4;
        grid-column: 6 / span 2;
      }

      &-8 {
        animation: FadeIn 2.4s ease-out;

        grid-row: 6 / -1;
        grid-column: 8 / -1;
      }
      &-9 {
        animation: FadeIn 2.6s ease-out;

        grid-row: 1 / 4;
        grid-column: 4 / 6;
      }
      &-10 {
        animation: FadeIn 2.8s ease-out;

        grid-row: 4 / 6;
        grid-column: 5 / 6;
      }
    }
  }
}
