.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-card {
    padding: 1rem;
    max-width: rem(500);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1;

    animation: FadeInSlow 0.5s ease-out;

    &.error {
      animation: bounce 0.5s ease-out;
    }

    .title {
      font-size: 2rem;
    }

    @include media(xs) {
      padding: 2rem;
    }

    .controls {
      padding-top: 1rem;
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .modal-btn {
      width: auto;
      padding: 0.3rem 1.5rem;
      margin: 0;
      flex-basis: 40%;
      background-color: white;
      color: $secondary;
      border: 1px solid $secondary;

      &.margin-left {
        color: white;
        margin-left: 1rem;
        background-color: $secondary;
      }
    }

    h3 {
      margin-bottom: 0;
    }
    p {
      padding: 1rem 0 0;
    }
  }
  .modal-bg {
    background-color: rgba(8, 2, 2, 0.188);
    animation: FadeInSlow 1s ease-out;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }
}
